*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    background: linear-gradient(300deg, #E95103, #e5007d, #a90d7f, #009ee3);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    height: 75%;
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2, h3 {
    text-align: center;
}

#header-img {
    width: 60%;
    margin: auto;
    padding: 5px;
}

.btn {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

#setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

#setup label,
#setup input {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 300px;
    border: none;
}

#setup input {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.risk-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.form-row label {
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

.form-row input,
.form-row select {
    width: 200px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.riskResponse select {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #e9e9e9;
}

.button-action {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.button-action:hover {
    background-color: #45a049;
}

input, button, select {
    margin: 5px;
}

input[readonly] {
    background-color: #e9e9e9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.remove-button {
    padding: 5px 10px;
    background: #ff4444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
}

#gameStatus {
    text-align: left;
}

#projectStatus {
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
}

.status-line {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.label {
    font-weight: bold;
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.value {
    flex: 1;
    text-align: left;
}

#riskEventDescription {
    text-align: center;
}

.game-description {
    text-align: center; 
    font-family: Roboto Condensed, sans-serif; 
    font-optical-sizing: auto;
    font-weight:400; 
    font-style:normal;
    padding: 10px;
    width:600px;
    margin: auto;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
}

.low {
    background-color: #c6efce;
}

.medium {
    background-color: #ffeb9c;
}

.high {
    background-color: #ffc7ce;
}

.critical {
    background-color: #ff0000;
    color: #ffffff;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 13px;
    padding: 3px;
    margin: 5px auto;
    width: 80%;
    display: flex;
    align-items: center;
}

.progress {
    background-color: #4caf50;
    height: 20px;
    border-radius: 10px;
}

#simulationInfo {
    text-align: center;
}

#nextTurnButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#charts canvas {
    margin: 20px;
    max-width: 400px;
}

#responseExplanation {
    margin-top: 10px;
}

.progress-label {
    width: 200px;
    text-align: left;
    margin-left: 10px;
}

.progress-container {
    flex: 1;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-text {
    text-align: center;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 400px;         
  }
  
  .table-row {
    display: flex;
    width: 100%;              
    max-width: 500px;          
    margin-bottom: 8px;
    justify-content: center;
  }
  

.table-cell {
    display: table-cell;
    padding: 5px 10px;
    text-align: center;
}

.table-cell.label {
    font-weight: bold;
    text-align: center;
    width: 150px;
}

.table-cell.value {
    text-align: center;
}

.message {
    margin-top: 15px;
}

#finalResult {
    text-align: center;
}

#finalResult img {
    max-width: 20%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
    display: inline-block;
}

#helpButton {
    float: right;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

#helpButton:hover {
    background-color: #005f6a;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Added Instructions CSS */
.header-container {
    background: linear-gradient(135deg, #3498db, #9b59b6, #e91e63);
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.step-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
}

.blue-circle {
    background-color: #3498db;
}

.purple-circle {
    background-color: #9b59b6;
}

.pink-circle {
    background-color: #e91e63;
}

.step-title {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
}

.tip-container {
    background-color: #e8f4f8;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}

.tip-title {
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.risk-table {
    width: auto; 
    max-width: 600px;
    border-collapse: collapse;
    margin: 15px 0;
}

.risk-table th {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: left;
}

.risk-table td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}

.risk-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.scoring-card {
    padding: 10px 15px;
    margin: 10px 0;
}

.icon {
    margin-right: 8px;
    vertical-align: middle;
}

ul li, ol li {
    margin-bottom: 8px;
}

/* Remove default list numbers */
ol.custom-list {
    list-style-type: none;
    padding-left: 0;
}

/* Purple table styles */
.purple-table th {
    background-color: #9b59b6;
}

/* Pink table styles */
.pink-table th {
    background-color: #e91e63;
}

.table-container {
    display: table;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.performance-log-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Space after the table */
}

.performance-log-table {
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    color: #333; /* Main text color */
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff; 
    border: 1px solid #ccc;
}

.performance-log-table th {
    background-color: #3498db; 
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

.performance-log-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}


#finalResult {
    text-align: center;
}

#finalResult img {
    max-width: 20%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
    display: inline-block;
}

.result-title {
    font-size: 2em; 
    margin-bottom: 20px;
}

.result-names {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.big-name {
    display: flex;
    width: 400px; 
    justify-content: center;
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight:bold
}
@media print {
    #header {
      position: static;
      box-shadow: none;
      padding: 10px 0;
      margin-bottom: 10px;
      text-align: center;
      width: 100%; 
      margin-top: -50px; 
    }
  
    #header-img {
      max-width: 100%;
      width: 80%; 
      margin: 0 auto;
      padding-bottom: 10px;
    }
  
    #helpButton,
    .btn,
    .button-action {
      display: none !important;
    }
  
    body {
      background: white !important;
      animation: none !important;
    }
  
    .container {
      box-shadow: none;
      background-color: white;
    }
  
    .performance-log {
        margin-top:20px;
      font-size: 12px; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis; 
    }

    .label-text {
        margin-right: 5px;  /* Adjust as necessary */
    }
  
    


    
  }